body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .main-view {
  border: 1px solid black;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
}
.headbar {
  color: black;
}
.a {
  color: black;
}
.fa-github {
  font-size: 50px;
}
.menu-tabs a:hover {
  color: #0088a9;
}

nav-links {
  display: flex;
} */
